<%- include('header') %>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit corporis voluptatibus aperiam, obcaecati sunt
    molestias suscipit, rerum neque eos delectus ducimus voluptatum, vero error sequi vel voluptatem praesentium! Eius,
    velit.</p>
    
<%- include('footer') %>